
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Employee</h1>
    <table border="1">
        <tr>
            <td>    ID    </td>
            <td>   Name    </td>
            <td>   password   </td>
            <td>   emailid    </td>
            <td>    mobileno    </td>
            <td>   companyname    </td>
            <td>   briefabtcmpy   </td>
            <td>   address    </td>
            <td>   website   </td>
            <td>   GST    </td>
        </tr>
        </table>
</body>
</html>
